
body{
}
p{
}
.myDiv {
  position:relative;  
  z-index:3
}

//*.myDiv .bg{
  position:absolute;
  background-image:url("/images/apples.jpg");  
  background-repeat: repeat;
  width:300px;
  height:250px;  
  opacity: 0.5;
  background-position:center center;
}
