
body{
background-image:url("/images/apples.jpg");  
background-repeat: repeat;
font-family: 'Nova Round';font-size: 22px;
background-color:rgba(0, 0, 0,0.5);
}
p{
font-family: 'Nova Round';font-size: 22px;
}
