
body {
    background-image: url();
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
}
.container-fluid {
    font-family: cursive;
    font-size: 20px;
}

.navbar-inverse {
    background-color: rgba(8, 8, 8, 0.5);
    border-color: #080808;
}





.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: rgba(255, 255, 255, 0.4);
    color: #080808;
}
 
